// module.exports = {
// 	preset: 'ts-jest',
// 	testEnvironment: 'node',
// 	moduleFileExtensions: ['ts', 'tsx', 'js', 'jsx', 'json', 'node'],
// 	transform: {
// 		'^.+\\.tsx?$': 'ts-jest'
// 	},
// 	globals: {
// 		'ts-jest': {
// 			tsconfig: 'tsconfig.json'
// 		}
// 	},
// 	testMatch: ['<rootDir>/tests/**/*.(spec|test).ts'],
// 	reporters: [
// 		'default',
// 		[
// 			'./node_modules/jest-html-reporter',
// 			{
// 				pageTitle: 'Test Solution',
// 				outputPath: 'test-results.html',
// 				includeFailureMsg: true,
// 				includeConsoleLog: true
// 			}
// 		]
// 	]
// };
